.divHome {
  display: flex;
  flex-direction: row;
  font-family: Roboto , sans-serif;
}

.divHome .divHomeForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20%;
}

.divHome .divHomeForm a {
  background-color: rgb(7, 94, 7);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  height: 30px;
  margin: 10px auto;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  width: 110px;
}

.divHome .product a {
  color: gray;
  text-decoration: none;
}

.divHome .divHomeForm a:hover {
  background-color: rgb(31, 148, 31);
  color: white;
}

.divHome .divHomeForm input {
  border: 1px solid gray;
  border-radius: 2px;
  height: 25px;
  margin: 10px auto;
  outline: none;
  padding: 5px;
  width: 90%;
}

.divHome .divHomeForm .buttonSearch {
  background-color: rgb(7, 94, 7);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  margin: 5px auto;
  outline: none;
  transition: all 0.5s ease-in-out;
  width: 90%;
}

.divHome .divHomeForm .buttonSearch:hover {
  background-color: rgb(31, 148, 31);
}

.divHome h3 {
  font-size: 15px;
  margin: 10px auto;
  text-align: center;
}

.divHome h1 {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
}

.divHome .buttonCategories {
  background-color: rgb(7, 94, 7);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin: 5px auto;
  margin-left: 13px;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 90%;
}

.divHome .buttonCategories:hover {
  background-color: rgb(31, 148, 31);
  scale: 1.1;
}

.divHome .divHomeProducts {
  border-left: 5px solid green;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
  text-align: center;
  width: 80%;
}

.divHome .product {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: 10px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  width: 200px;
}

.divHome .product img {
  height: 150px;
  margin: 10px auto;
  width: 150px;
}

.divHome .product p {
  border: 1px solid gray;
  font-size: 13px;
  padding: 5px;
}

.divHome .product button {
  background-color: rgb(7, 94, 7);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  margin: 0 auto;
  outline: none;
  transition: all 0.5s ease-in-out;
  width: 90%;
}

.divHome .product button:hover {
  background-color: rgb(31, 148, 31);
}
