.divHome {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;

  .divHomeForm {
    display: flex;
    flex-direction: column;
    // border: 2px solid green;
    padding: 10px;
    width: 20%;
  }

  .divHomeForm a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 4px;
    border: none;
    background-color: rgb(7, 94, 7);
    margin: 10px auto;
    width: 110px;
    height: 30px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
  }

  .divHomeForm a:hover {
    background-color: rgb(31, 148, 31);
    color: white;
  }

  .divHomeForm input {
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    margin: 10px auto;
    width: 90%;
    height: 25px;
  }

  .divHomeForm .buttonSearch {
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    margin: 5px auto;
    width: 90%;
    height: 25px;
    color: white;
    background-color: rgb(7, 94, 7);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .divHomeForm .buttonSearch:hover {
    background-color: rgb(31, 148, 31);
  }

  h3 {
    text-align: center;
    font-size: 15px;
    margin: 10px auto;
  }

  h1 {
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
  }

  .buttonCategories {
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    margin: 5px auto;
    margin-left: 13px;
    width: 90%;
    height: 30px;
    color: white;
    background-color: rgb(7, 94, 7);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .buttonCategories:hover {
    background-color: rgb(31, 148, 31);
    scale: 1.1;
  }

  .divHomeProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    border-left: 5px solid green;
    padding: 3px;
    text-align: center;
  }

  .product {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 320px;
    transition: all 0.5s ease-in-out;
  }

  .product img {
    width: 150px;
    margin: 10px auto;
    height: 150px;
  }

  .product p {
    padding: 5px;
    font-size: 13px;
    border: 1px solid gray;
  }

  .product button {
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    margin: 0 auto;
    width: 90%;
    height: 25px;
    color: white;
    background-color: rgb(7, 94, 7);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .product button:hover {
    background-color: rgb(31, 148, 31);
  }

  .product a {
    text-decoration: none;
    color: gray;
  }
}